/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  /* --text-color: hsl(var(--hue), 8%, 35%); */
  --text-color: #e6c87f;
  --body-color: #292929;
  --container-color: #5d5d5d;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* home  */
.section {
  padding: 4.5rem 0 2rem;
  /* display: none; */
}

.section__title {
  font-size: var(--h1-font-size);
  color: #e6c87f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: rgb(224, 224, 224);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
  color: rgb(176, 176, 176);
}
.nav__iconmain{
  font-size: 3.5rem;
  color: rgb(176, 176, 176);
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


.data{
  background-color: antiquewhite;
}

.abouts{
  display: none;
}
.skillss{
  display: none;
}
.portfolios{
  display: none;
}
.contactmes{
  display: none;
}

.home_HeaderImage{
  /* background-color: rgb(150, 114, 23); */
  border-radius: 20px;
   
  /* justify-content: center; */
  /* box-sizing: border-box; */
  /* padding-left: 50%;
  padding-right: 50%; */
}

.user_amount{
  background-color: #e6c87f ;
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
}
.bi{
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 5px;
}
.bii{
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 5px;
}

.user_icon{
  width: 7%;
}
.user_name{
  color: black;
  width: 70%;
  /* background-color: red; */
  margin-left:25px;
  margin-top: 10px;
  font-size: 11px;
}

.notificationLOG{
  width: 23%;
  /* background-color: yellow; */
  display: flex;
  justify-content: end;
}


.middel_case_1{
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: var(--body-font);
  
}


.c1 ,.c2 ,.c3{
  background-color: #e6c87f;
  border-radius: 8px;
  width: 30%;
  margin-top: 50px;
  cursor: pointer;
}

.c1_1 ,.c2_1 ,.c3_1 {
  margin-top: -20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.c1_2,.c2_2,.c3_2,.c4_2,.c5_2,.c6_2{
  display: flex;
  justify-content: center;
  margin-top: -10px;
  /* margin-bottom: 10px; */
}

.middel_case_2{
  background-color: #e6c87f;
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-family: var(--body-font);
}


.c4,.c5,.c6{
  width: 30%;
  margin-top: 4px;
}
.c4_1,.c5_1,.c6_1{
  display: flex;
  justify-content: center;
}

.middel_case_3{
  /* background-color: red; */
  color: black;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;

}

.c7{
  background-color: #e6c87f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 100%;
}
.c8{
  background-color: #e6c87f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: 100%;
}

.c7_1,.c8_1{
  width: 100%;
  margin: 1px;
  display: flex;
  justify-content: center;
}
.c7_2,.c8_2{
  align-content: center;
  text-align: end;
  margin: 10px;
  width: 100%;

}

.heading_1{
  color: #FFF;
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

.h1_1{
  color: #e6c87f;
 
}
.h1_2{
  align-items:center;
  margin-top: 25px;
}
.bar{
  background-color: #5d5d5d;
  color: #b2aeae;
  border-radius: 3px;
}
.all_1{
  margin-top: 10PX;
  display: flex;
  justify-content: space-around;
}
.a1,.a2{
  margin-right: 6px;
}

.pp{
  background-color: #5d5d5d;
  width: 60px;
  height: 50px;
  margin-top: -30px;
  border-radius: 20px;
  /* align-items: center; */
  text-align: center;
}
.lottry{
  display: none;
}

.soon{
  display: none;
}

.coming_soon{
  /* background-color: #b2aeae; */
  text-align: center;
  color: #e6c87f;
  /* margin-top: 150px; */
  /* margin-left: 30px; */
  font-size: 50px;
}
.clos{
  color: #FFF;
  margin-top: 100px;
  margin-left: 20px;
  font-size: xx-large;
  /* background-color: #5d5d5d;  */
}



/* About Section Start  */

.activiti_head{
  background-color: #5d5d5d;
  /* text-align: center; */
}
.active_head_img{
  text-align: center;
}
.action_head_text{
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 10px;

}

p{
  font-size: 12px;
}

.action_upper{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.svg_logo ,.svg_txt{
  text-align: center;
}


.action_middel{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.gifts{
  margin-right:5px ;
}
.gift_txt {
  background-color: #5d5d5d;
  margin-top: -10px;
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: small;
  padding-bottom: 15px;
}
.attendance_txt{
  background-color: #5d5d5d;
  margin-top: -10px;
  /* padding-bottom: 5px; */
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: small;
}

.attendance{
  margin-left: 5px;

}
.txtt{
  color: #dad9d9;
}

.baner_1{
  border-radius: 10px;
  margin-top: 20px;
  background-color: #5d5d5d;
}
.baner_txt{
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  /* font-family: ; */
}

.commission_area{
  text-align: center;
  font-size: 25px;
  /* background-color: #e6c87f; */
  /* display: flex;
  justify-content: baseline; */
}
.ytc{
  background-color: rgb(162, 43, 4);
  border-radius: 20px;
  margin-top: 20px;
}
.ytc_txt{
  /* color: rgb(162, 43, 4); */
  font-size: 15px;
  margin-top: 10px;
}
.chart_table{
  margin-top: 20px;
  background-color: #5d5d5d;
  border-radius: 20px;
 /* text-align: center; */
}
.tabelin{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 17px;
  box-sizing: border-box;
  padding-bottom: 20px;
  /* background-color: #5d5d5d; */

  }
.t_head{
  background-color: #e6c87f;
  color: brown;
  padding: 10px;
}
.ds{
  padding: 20px;
  border-radius:20px 0px 0px 0px;
}
.ts{
  padding: 20px;
  border-radius:0px 20px 0px 0px;
}
.nor{
  /* margin-top: 10px; */
  padding-top: 30px;
}
.link{
  margin-top: 5%;
}
.INVITATION_link{
  background-color: #e6c87f;
  border: none;
  width: 100%;
  font-size: 140%;
  padding: 2%;
  border-radius: 20px;
  color: brown;
}

.cic{
  background-color: #5d5d5d;
  display: flex;
  justify-content: start;
  margin-top: 5%;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.cic_txt{
  color: #FFF;
}
.cic_number{
  margin-left: 15%;
}
.wallet_Head{
  text-align: center;
  font-size: 160%;
  background-color: #e6c87f;
  color: brown;
  box-sizing: border-box;
  padding-bottom: 13%;
  padding-top: 10%;
}
.wallet_hading{
  color: #FFF;
}

.wallet_mid{
  background-color: #3e3d3d;;
  text-align: center;
  border-radius: 10px;
  /* padding-top: -10px; */
  margin-top: -4%;
  margin-left: 2%;
  margin-right: 2%;
}

.circle_chart{
  background-color: #3e3d3d;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 10%;border-radius: 10px;

  padding-bottom: 5%;
}

.chart1{
  background-color: #3e3d3d;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 11%;
  border: 10px solid rgb(218, 215, 215);
  font-size: 110%;
}
.circle_txt{
  /* background-color: #3e3d3d; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  /* padding-top: 10%; */
  border-radius: 10px;
  padding-bottom: 5%;
  margin-top: -3%;
}
.ct_mw{
  color: #979595;
  margin-top: 10%;
}

.mwt_btn1{
  width: 100%;
  border: none;
  background-color: #e6c87f;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: large;
  color: brown;
}
.mwt_btn{
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
}
.dwdw_main{
  /* background-color: aliceblue */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10% 0%  10% 0%;
}


.upper_nup{
  background-color: #e6c87f;
  color: brown;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 5% 0% 10% 1%;
  border-radius: 10px 10px 40px 40px;
}
.img{
  width: 20%;
  text-align: center;
}
.name_uId{
  width: 60%;
  display: inline;
  /* text-align: start; */
  
}

.uid{
  background-color: brown;
  color: #dad9d9;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1% 4% 1% 2%;
  position: absolute;
}
.notifi{
  width: 20%;
}
.account_img{
  width: 80%;
 border-radius: 50px; 
}

.balence{
  background-color: #5d5d5d;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -8%;
}
.total_balance{
  padding: 3% 3% 0% 5%;
  font-size: 150%;
}
.tb{
  font-size: 66%;
  margin-bottom: 2%;
}
.hrt{
  /* margin-top: 5%; */
  border:1px solid #e6c87f;
}
.dwdw_acount{
  /* background-color: aliceblue */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0% 0%  5% 0%;
}
.D_logo,.W_logo,.DH_logo,.WH_logo,.WH_txt,.W_txt,.D_txt{
  text-align: center;
}

.gameH_trans{
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
}

.Game_histori{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #5d5d5d;
  box-sizing: border-box;
  padding: 2% 2%;
  color: #dad9d9;
  align-items: center;
  /* margin-right: 1%; */
  border-radius: 10px;
}
.transaction{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #5d5d5d;
  box-sizing: border-box;
  padding: 2% 2%;
  align-items: center;
  color: #dad9d9;
  margin-left: 1%;
  border-radius: 10px;
}
.Deposit_Withdrol{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}   

.forboottem{
  background-color: #5d5d5d;
  margin-top: 7%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}
.forNotifi,.forGameStationn,.forGift,.forLanguage{
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 1%;
}
.notifi_logo{
  box-sizing: border-box;
  padding: 1%;
  color: #dad9d9;
  /* width: 100%;
  text-align: start; */
}
.notifi_txt{
  box-sizing: border-box;
  padding: 1%;
  color: #dad9d9;
  width: 100%;
  text-align: start;
}
.foroprn{
  text-align: end;
  /* background-color: #FFF; */
  width: 100%;
  color: #dad9d9;
  box-sizing: border-box;
  padding: 1%;
}
.forhr{
  border: 1px solid rgb(86, 85, 85);
  margin: 1% 1% 1% 1%;
}

.endbottem{
  background-color: #5d5d5d;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 4% 2% 0% 2%;
}
.endbottem_one{
  color: #dad9d9;
  box-sizing: border-box;
  padding: 1%;
}

.endbottem_two{
  /* background-color: #5d5d5d; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 5%;

}

.setting,.feedback,.Notification{
  text-align: center;
  width: 100%;
}

.endbottem_three{
  /* background-color: #5d5d5d; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 10%;

}
.Guide,.About_us,.Customer_service{
  text-align: center;
  width: 100%;
}
.logout{
  margin: 2%;
}
.logout_btn{
  border: 1px solid #e6c87f;
  background-color: #292929;
  border-radius: 20px;
  width: 100%;
  color: #e6c87f;
  box-sizing: border-box;
  padding: 2%;
  font-size: 100%;
  /* color: #e6c87f; */
}



/*======================= wingo 1 min  =======================*/

.wingo1min{
  /* margin-top: 14%; */
  display: none;
}

.wingo1min_hader_wallet{
  background-color: #e6c87f;
  color: brown;
  margin-bottom: 4%;
  border-radius: 10px;
}
.wallateTxt{
  box-sizing: border-box;
  padding-top: 8%;
  padding-left: 7%;
  color: #fff;
}
.wallateAmount{
  box-sizing: border-box;
  padding-left: 7%;
  padding-bottom: 10%;
}
.depo_withdro{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-bottom: 7%;
}
.Depo{
  border: none;
  background-color: brown;
  color: #e6c87f;
  width: 40%;
  box-sizing: border-box;
  padding-top:3% ;
  padding-bottom: 3%;
  border-radius: 7px;
  font-size: 119%;
}
.Withdro{
  border: 1px solid brown;
  background-color:#e6c87f ;
  color: brown;
  width: 40%;
  box-sizing: border-box;
  padding-top:3% ;
  padding-bottom: 3%;
  border-radius: 7px;
  font-size: 119%;
}
.back{
  margin-left: 5%;
}

.WinGoBrity{
  background-color: #3e3d3d;
  /* margin-left: 4%;
  margin-right: 4%; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding: 4%; */
  border-radius: 10px;
}
.WinGo1Min{
  text-align: center;
  background-color: #e6c87f;
  color: brown;
  box-sizing: border-box;
  padding: 4% 4%;
  width: 100%;
  border-radius: 10px;
}
.WinGo3Min,.WinGo5Min,.WinGo10Min{
  text-align: center;
  /* background-color: #e6c87f; */
  color: #979595;
  box-sizing: border-box;
  padding: 4% 4%;
  width: 100%;
  border-radius: 20px;
}

 /* How To Play &  Timer  */
.HTPTR{
  background-color: #e6c87f;
  color: brown;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  /* margin-left: 1%;
  margin-right: 1%; */
  margin-top: 4%;

}
.HTP{
  text-align: start;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-top: 5%;

}
.HTPbtn{
  background-color: #e6c87f;
  border: 1px solid brown;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3% 10%;
  color: brown;
  margin-bottom: 2%;
  font-size: 100%;
}
.HTPtxt{
  box-sizing: border-box;
  padding-left: 3%;
  font-size: 100%;
  padding-top: 5%;
}

.bolls{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  box-sizing: border-box;
  /* padding: 3%; */
}
.boll_one,.boll_two,.boll_three,.boll_four,.boll_five{
  box-sizing: border-box;
  padding: 2%;
}
.TR{
  text-align: end;
  width: 100%;
  padding: 3%;
}
.timer{
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  margin-top: 5%;
  margin-bottom: 5%;

}
.min1,.min2,.dabbleDot,.sec1,.sec2{
  background-color: #ddd4bd;
  border-radius: 10px;
  border: 1px solid wheat;
  font-size: xx-large;
  box-sizing: border-box;
  padding: 4%;
}

.button_main{
  background-color: #3e3d3d;
  margin-top: 4%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
}
.gvr{
  display: flex;
  justify-content: space-around;
}
.g{
  width: 30%;
  border: none;
  background-color: rgb(9, 209, 9);
  color: #fff;
  font-size: 130%;
  box-sizing: border-box;
  padding: 2% 5% ;
  border-radius: 0px 10px 0px 10px;
}
.v{
  width: 30%;
  border: none;
  background-color: rgb(199, 20, 199);
  color: #fff;
  font-size: 130%;
  box-sizing: border-box;
  padding: 2% 5% ;
  border-radius: 10px 10px 10px 10px;
}
.r{
  width: 30%;
  border: none;
  background-color: rgb(231, 5, 5);
  color: #fff;
  font-size: 130%;
  box-sizing: border-box;
  padding: 2% 5% ;
  border-radius: 10px 0px 10px 0px;
}
.num{
  background-color: #292929;
  margin-top: 4%;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 4%;
}

.num_row{
  display: flex;
  justify-content: space-between;

}
.num_row_one{
  text-align: center;
}
.BigSmall{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.big{
  width: 100%;
  background-color: rgb(232, 182, 15);
  border-radius: 20px 0px 0px 20px;
  box-sizing: border-box;
  padding: 2%;
}
.big_btn{
  background-color: rgba(249, 249, 57, 0);
  font-size: larger;
  border: none;
  color: #fff;
}
.small{
  width: 100%;
  background-color: rgb(34, 188, 230);
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  padding: 2%;
  
}
.small_btn{
  background-color: rgba(249, 249, 57, 0);
  font-size: larger;
  border: none;
  color: #fff;
}
