/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  /* --text-color: hsl(var(--hue), 8%, 35%); */
  --text-color: #e6c87f;
  --body-color: #292929;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: #e6c87f;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


.data{
  background-color: antiquewhite;
}

.abouts{
  display: none;
}
.skillss{
  display: none;
}
.portfolios{
  display: none;
}
.contactmes{
  display: none;
}

.home_HeaderImage{
  /* background-color: rgb(150, 114, 23); */
  border-radius: 20px;
   
  /* justify-content: center; */
  /* box-sizing: border-box; */
  /* padding-left: 50%;
  padding-right: 50%; */
}

.user_amount{
  background-color: #e6c87f ;
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
}
.bi{
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 5px;
}
.bii{
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 5px;
}

.user_icon{
  width: 7%;
}
.user_name{
  color: black;
  width: 70%;
  /* background-color: red; */
  margin-left:25px;
  margin-top: 10px;
  font-size: 11px;
}

.notificationLOG{
  width: 23%;
  /* background-color: yellow; */
  display: flex;
  justify-content: end;
}


.middel_case_1{
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: var(--body-font);
  
}


.c1 ,.c2 ,.c3{
  background-color: #e6c87f;
  border-radius: 8px;
  width: 30%;
  margin-top: 50px;
}

.c1_1 ,.c2_1 ,.c3_1 {
  margin-top: -20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.c1_2,.c2_2,.c3_2,.c4_2,.c5_2,.c6_2{
  display: flex;
  justify-content: center;
  margin-top: -10px;
  /* margin-bottom: 10px; */
}

.middel_case_2{
  background-color: #e6c87f;
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-family: var(--body-font);
}


.c4,.c5,.c6{
  width: 30%;
  margin-top: 4px;
}
.c4_1,.c5_1,.c6_1{
  display: flex;
  justify-content: center;
}

